<!DOCTYPE html>
<html>

<head>

<title>
Automated Code Review System
</title>


<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>


<body>


<div class="container">


<h1>
Automated Code Review System
</h1>


<h2>
A Rule-Based Python Code Review and Learning Platform
</h2>


<p>
Analyze your Python code, identify issues,
understand errors and improve your coding skills.
</p>
<div class="buttons">

    <a href="/login">Login</a>

    <a href="/register">Register</a>

</div>




</div>


</body>

</html>